<div class="last-price">
    <span title="Last price">1฿ = ${{last}}</span>
    <small class="timestamp" title="{{timestamp.full}}" data-date="{{timestamp.time}}">{{timestamp}}</small>
</div>

<div class="range secondary">
    <span title="Low – High">${{low}}—${{high}}</span>
</div>
