<td class="n" data-date="{{datetime.time}}" title="{{datetime.full}}">{{datetime}}</td>
<td class="n">{{id}}</td>
<td class="n">{{order_id}}</td>
<td>
    {{#if trade_type}}
        {{trade_type}}
    {{else}}
        {{type}}
    {{/if}}
</td>
<td class="n">{{btc}}</td>
<td class="n">{{usd}}</td>
<td class="n">{{fee}}</td>
<td class="n">{{btc_usd}}</td>
